.button {
  @extend %button;

  &-primary {
    background: color('primary');
    color: color('white');
    border: 1px solid color('primary');
    cursor: pointer;

    &:hover {
      opacity: .7;
      transition: opacity ease .2s;
    }

    &:disabled {
      background: #BDBDBD;
      border: 1px solid #BDBDBD;
    }
  }

  &-grey {
    background-color: color('grey-100');
    color: color('white');
    border: 1px solid color('grey-100');
    cursor: pointer;

    &:hover {
      opacity: .7;
      transition: opacity ease .2s;
    }

  }

  &-secondary {
    background: color('white');
    color: color('primary');
    border: 1px solid color('primary');
    cursor: pointer;

    &:hover {
      opacity: .7;
      transition: opacity ease .2s;
    }

    &:disabled {
      background: #BDBDBD;
      border: 1px solid #BDBDBD;
    }
  }

  &-white {
    background: transparent;
    color: color('white');
    border: 1px solid color('white');
    cursor: pointer;

    &:hover {
      opacity: .7;
      transition: opacity ease .2s;
    }

    &:disabled {
      background: #BDBDBD;
      border: 1px solid #BDBDBD;
    }
  }

  &-sm {
    padding: .5rem;
    min-width: 150px;
  }
}

.icon-button {
  padding: .5rem;
  display: block;
  border-radius: 50px;
  border-color: transparent;
  background: color('white');
  cursor: pointer;
}